@font-face {
    font-family: 'DryTransferFolio-Caps';
    src: url('assets/fonts/DryTransferFolio-Caps.otf');
}

body {
    background: aqua;
}

body {
    font-family: 'DryTransferFolio-Caps';
}

.preloader {
    display: flex;
    flex-direction: none;
}